body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-followers {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-followers .form-followers-heading,
.form-followers .checkbox {
  margin-bottom: 10px;
}
.form-followers .checkbox {
  font-weight: normal;
}
.form-followers .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-followers .form-control:focus {
  z-index: 2;
}
.form-followers input[type="screen_name"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}
